html {
  font-family: Helvetica, Arial;
  font-size: 18px;
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #cce8e8;
  color: #3a4242;
  height: 100vh;
  padding: 3em;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
}

.map {
  height: 100vh;
}
